extends layout

block content
        h2 Book Detail

        section(style="background-color: yellow;")
                p 
                span(style="color: red;") Book Title: 
                | #{book.title}
                p 
                        span(style="color: red;") Book Author: 
                        | #{book.author}
                p       
                        span(style="color: red;") Book Genre: 
                        | #{book.genre}
                if book.owner
                        p 
                                span(style="color: red;") Book Owner: 
                                | #{book.owner.username}
                else
                        p 
                                span(style="color: red;") Book Owner: 
                                | Sahip Yok
                p 
                span(style="color: red;") Book Is Available: 
                | #{book.isAvailable}
                p 
                span(style="color: red;") Book Reviews: 
                | #{book.reviews}
                if book.ownerHistory.length >0
                        p 
                        span(style="color: red;") Book Owner History:  
                        | #{book.ownerHistory.map(obj => obj.username).join(', ')}
                else 
                        p 
                        span(style="color: red;") Book Owner History: 
                        | Önceden sahiplenmemiş
        

