extends layout 
block content

        h2 Book Detail

        h4 Book Title- #{book.title}
        h4 Book Author- #{book.author}
        h4 Book Genre- #{book.genre}
        h4 Book Owner- #{book.owner}
        h4 Book Is Available- #{book.isAvailable}
        h4 Book Reviews- #{book.reviews}
        h4 Book Owner History- #{book.ownerHistory}
        

